body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 1.3em;
    background-color: rgb(248, 240, 222);
   
}
a{
    text-decoration: none;
    color: rgb(255, 0, 21);
}
header{
    width: 100%;
    position: fixed;
    background-color: rgb(184, 24, 24);
    display: inline-block;
     text-align: center;
     z-index: 2;
}
header h1{ 
   display: inline-block;
    color: white;
    border: solid 8px white;
   
  
    padding: 7px 14px;
    
}
body > section > img{
    width: 100%;
    height: 500px;
}
.banner{
    position: relative;
    margin: 0;
}
body > section > div{
    position: absolute;
    top:50%;
    left:35% ;
  
    font-size: 1.5em;
    color: rgba(151, 8, 151, 0.815);   
}
nav{
    margin: 0;
    background-color: rgb(251, 216, 144);
    padding: 20px;
    position: sticky;
    top: 135px;

}
 nav ul{
    width: 40%;
    white-space: nowrap;
   max-width: 1200px;
     margin: 0 auto;
}
nav ul li{
    width: 25%;
    display: inline-block;
    font-size: 1.3em;
    
}
main ul li img{
     width: 100%;
     height: 300px;
}
main ul { 
max-width: 60%;

}
main ul li{
    max-width: 35%;
   display: inline-block;
}